html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1; /* pushes footer to bottom */
}

:root {
  --bg-color: #ffffff;
  --text-color: #212529;
}

/* Dark mode */
.dark-mode {
  --bg-color: #121212;
  --text-color: #f1f1f1;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color .3s ease, color .3s ease;
}